.DS_Store
/node_modules/

coverage/

# React Router
/.react-router/
/build/

yarn.lock

.env
.env.local
.dev.env
.test.env
.vercel

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
